@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-actions {
  margin-top: 50px !important;
}

.spin {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nowrap {
  white-space: nowrap !important;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

h1.title,
fieldset legend {
  text-transform: uppercase;
  color: #000;
  font-family: Roboto Slab, sans-serif;
  font-size: 28px;
}

fieldset legend {
  border-bottom: 1px solid rgba(9, 19, 46, 0.1);
  padding-bottom: 1rem;
  line-height: 37px;
  margin-bottom: 0;
}

.campo.control-group {
  h3,
  h4 {
    text-transform: uppercase;
    padding: 1rem 0;
    margin: 3rem 0 1rem 0;
    border: 0;
    border-top: 1px solid rgba(9, 19, 46, 0.1);
    border-bottom: 1px solid rgba(9, 19, 46, 0.1);
  }
  .input-group {
    small {
      min-width: 50px;
      padding-left: 5px;
    }
  }
  .datos-tramite {
    font-family: monospace;
    padding: 0;
    background-color: #fdfdfd;
    margin: 0;
    .tramite-nombre,
    .tramite-id {
      font-size: 18px;
      text-transform: uppercase;
      text-align: justify;
      display: inline-block;
      font-weight: bold;
    }
  }
  .alert {
    text-align: justify;
    ul {
      padding-left: 15px;
    }
  }
  .alert.alert-text-large {
    font-size: large;
  }
  .alert.alert-text-medium {
    font-size: medium;
  }
}

i.material-icons {
  font-size: 24px;
  vertical-align: sub;
}

.input-group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-addon {
  border-right: 0;
  padding: 3px 10px;
  color: #0069ef;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
