$tema-mtt-background: #0069ef;
$tema-mtt-background-hover: lighten($tema-mtt-background, 10%);
$tema-mtt-border-hover: lighten($tema-mtt-background, 10%);

.ajaxForm .controls.grid-Cls,
.controls.grid-Cls {
  &.grilla_hide_paginate .dataTables_paginate,
  &.grilla_hide_filter .dataTables_filter,
  &.grila_hide_info .dataTables_info,
  &.grila_hide_length .dataTables_length {
    display: none;
  }

  .dataTables_wrapper {
    .dataTables_paginate {
      font-size: 12px;

      .paginate_button.current:hover,
      .paginate_button.current {
        border-color: $tema-mtt-background !important;
        background-color: $tema-mtt-background !important;
        background: $tema-mtt-background !important;
      }

      .paginate_button.current:hover {
        border-color: $tema-mtt-background !important;
        background-color: $tema-mtt-background-hover !important;
        background: $tema-mtt-background-hover !important;
      }
    }
  }

  // botones a la derecha
  .container .row:last-child div {
    text-align: right;
    width: 100%;
  }
  .btn.btn_grid_action {
    margin-left: 5px !important;
    padding: 0;
  }

  table.dataTable thead th,
  table.dataTable thead td {
    border-bottom: $tema-mtt-background !important;
    background-color: $tema-mtt-background !important;
    font-size: 12px;
  }
}

.modalgrid .modal-header,
.ajaxForm .modalgrid .modal-header {
  background-color: $tema-mtt-background;
  color: #fff;
}