.pasos {
  &.row {
    margin-top: 10px;
  }
  cursor: default;
  .linea1,
  .linea2 {
    font-size: 15px;
    text-align: justify;
  }
  .linea2 {
    font-style: italic;
    text-align: justify;
  }
  .paso {
    background: #ff0000;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    opacity: 0.3;
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    margin: 9px 15px 0 0;
    padding: 0;
  }
  .paso.activo {
    opacity: 1;
  }
}
