.campo.control-group .upload-documentos h3 {
  border: none;
  margin: 0;
}

.upload-documentos {
  width: 100%;
  margin-top: 50px;
  background-color: #fbfbfb;
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px dotted #d2d2d2;

  .resumen {
    margin-top: 14px;
    background-color: white;
    border: 1px dashed #eaeaea;
    border-radius: 6px;
    font-size: 14px;
    ul {
      padding: 8px 13px;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        &.check .material-icons {
          color: green;
          margin-right: 5px;
        }
        .material-icons {
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }
  }
  .titulo-grupo {
    font-size: 22px;
    text-decoration: underline;
  }
  thead th {
    padding-top: 25px;
    text-transform: uppercase;
    .titulo-obligatoriedad {
      text-transform: capitalize;
      font-weight: normal;
      margin: 0;
      padding: 0;
      border: none;
      font-size: 20px;
    }
  }

  tr {
    cursor: default;

    &.hoverable:hover {
      background-color: #ededed;
    }

    &.error td.estado {
      color: red;
      i.check {
        display: none;
      }
      i.error {
        display: inline-block;
      }
    }

    td {
      padding: 9px 3px 3px 3px;
      vertical-align: top;
      border-top: 1px dotted #d0cccc;

      &.estado {
        color: #c2c2c2;
        i.material-icons {
          margin: 3px 5px;
        }
        i.check {
          display: inline-block;
        }
        i.error {
          display: none;
        }
      }

      // &:first-child {
      //   border-top-left-radius: 7px;
      //   border-bottom-left-radius: 7px;
      // }

      // &:last-child {
      //   border-top-right-radius: 7px;
      //   border-bottom-right-radius: 7px;
      // }

      &.documento {
        > span {
          display: block;
        }

        span.nombre {
          font-size: 16px;
          color: #000000;
        }

        span.desc {
          font-size: 13px;
          font-style: italic;
          color: #646464;
        }

        a.filename {
          font-family: 'Courier New', Courier, monospace;
          font-size: 14px;
          border-top: 1px dashed;
          width: 100%;
          display: none;
          margin-top: 8px;
          padding-top: 7px;
        }

        a.link-archivo {
          display: none;
          align-items: center;
          justify-content: right;
          * {
            padding-right: 4px;
            display: inline-block;
          }
          i {
            text-decoration: none;
          }
        }

        .uploader-bar {
          visibility: hidden;
          display: block;
          background-color: #e0e0e0;
          border-radius: 5px;
          height: 5px;
          .uploader-bar-progress {
            display: block;
            background-color: #0054ab;
            width: 0%;
            border-radius: 5px;
            height: 5px;
          }
        }
      }

      &.acciones {
        width: 1%;
        white-space: nowrap;
        button {
          margin: 0 2px;
          padding: 3px 5px;
          &.replace,
          &.uploading {
            display: none;
          }
          &.remove {
            visibility: hidden;
          }
          &.upload {
            display: inline-block;
          }
        }
      }
    }

    &.uploaded {
      td.estado {
        color: green;
      }

      td.acciones {
        button.replace {
          display: inline-block;
        }
        button.remove {
          visibility: visible;
        }
        button.upload {
          display: none;
        }
      }

      td.documento {
        a.link-archivo {
          display: inline-flex;
        }
      }
    }

    &.uploading {
      td.acciones {
        button.uploading {
          display: inline-block;
        }
        button.replace,
        button.upload {
          display: none;
        }
      }
      td.documento {
        .uploader-bar {
          visibility: visible;
        }
      }
    }
  }
}
