.watcher-debugger {
  position: sticky;
  bottom: 10px;
  left: 10px;
  background: #cecece;
  max-width: 400px;
  color: black;
  white-space: normal;
  max-height: 600px;
  z-index: 99999;
  overflow-y: scroll;
  font-family: monospace;
  white-space: nowrap;

  .header {
    width: 100%;
    background-color: black;
    color: white;
    span.tab {
      display: inline-block;
      width: 50%;
      border: 1px solid white;
      padding: 4px;
      margin: 3px;
      text-align: center;
      cursor: pointer;
    }
  }

  ul {
    padding: 0 0 0 3px;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.var-wrapper {
    margin-left: 5px;
    ul.var-body {
      border-left: 1px dotted green;
      padding-left: 7px !important;
    }

    li.var-nombre {
      position: sticky;
    }
  }

  span.no-data {
    font-style: italic;
    font-weight: bold;
    color: black;
  }
}
